.images {
  @include flexbox(center, center);
  width: 100%;
}

.images__wrapper {
  @include flexbox(center, space-around);
  flex-basis: 100%;
  flex-wrap: nowrap;
  margin: 0 $s-size;
}

.images__img {
  border: 1px solid $dark;
  border-radius: 50%;
  min-width: 8rem;
  transition: .5s;
  width: 30%;

  @media (min-width: $tablet-breakpoint) {
    width: 30%;
  }

  @media (min-width: $desktop-breakpoint) {
    width: 20rem;
  }

  &:hover {
    cursor: pointer;
    border: 3px solid $brown;
    transform: scale(1.1);
  }
}