* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  background-image: url('../images/forest.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}